<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><%= @user["name"] %> has submitted a request: </p>
<p>Their contact email is <%= @user["email"] %></p>
<p><%= @body %></p>
</body>
</html>